{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Accept a payment</title>
  <meta name="description" content="A demo of a payment on Stripe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{% static 'css/checkout.css' %}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/checkout.js' %}" defer></script>

</head>

<body>
  <!-- Display a payment form -->
  <form id="payment-form" class="row g-3">
    <!-- Display payment amount -->
    <h2>Amount: {{amount}}</h2>
    <div class="payment-buttons d-flex">
      <button id="wechatpay-btn" class="btn btn-outline-secondary fw-bold payment-button" onclick="showWechatPay()">
      <img src="{% static 'img/wechatpay_icon.svg' %}" alt="WeChat Pay" class="payment-icon"> WeChat Pay
    </button>
    <button id="alipay-btn" class="btn btn-outline-secondary fw-bold payment-button" onclick="showAlipay()">
      <img src="https://js.stripe.com/v3/fingerprinted/img/payment-methods/alipay-22c167d415e209c71b2ac68b7fbc9f43.svg"
        alt="Alipay" class="payment-icon"> Alipay
    </button>
    <button id="card-btn" class="btn btn-outline-secondary fw-bold payment-button" onclick="showCard()">
      <img src="https://js.stripe.com/v3/fingerprinted/img/card-ce24697297bd3c6a00fdd2fb6f760f0d.svg"
        alt="Credit or Debit Card" class="payment-icon"> Card
    </button>
    </div>
    
    <div class="row g-3">
      <div class="col-sm-7">
        <label for="firstName" class="form-label">Customer Name</label>
        <input type="text" class="form-control" id="custName" placeholder="" required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-12">
        <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>
      <div class="col-12">
        <label for="address" class="form-label">Address</label>
        <input type="text" class="form-control" id="custAdd" placeholder="1234 Main St" required>
        <div class="invalid-feedback">
          Please enter your shipping address.
        </div>
      </div>
      <div class="col-12">
        <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
        <input type="text" class="form-control" id="custAdd2" placeholder="Apartment or suite">
      </div>
      <div class="col-md-5">
        <label for="country" class="form-label">Country</label>
        <select class="form-select" id="country" required>
          <option value="">Choose...</option>
          <option>United States</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid country.
        </div>
      </div>
      <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <select class="form-select" id="state" required>
          <option value="">Choose...</option>
          <option>California</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid state.
        </div>
      </div>
      <div class="col-md-3">
        <label for="Postcode" class="form-label">Postcode</label>
        <input type="text" class="form-control" id="postCode" placeholder="" required>
        <div class="invalid-feedback">
          Zip code required.
        </div>
      </div>
    </div>

    <div id="wechatpay-content" style="display:none;">
      <!-- WechatPay content goes here -->
      <button id="wechat-submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">
        Generate QR code
      </button>
    </div>

    <div id="alipay-content" style="display:none;">
      <!-- Alipay content goes here -->
      <button id="alipay-submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">
        Submit Alipay
      </button>
    </div>

    <div id="card-content" style="display:none;">
      <!-- Credit or Debit Card content goes here -->
      <!--    
        <div id="link-authentication-element">
        <Stripe.js injects the Link Authentication Element>
        </div>
        -->
      <label for="card-element">Credit or debit card</label>
      <div id="card-element">
        <!--Stripe.js injects the Payment Element-->
      </div>

      <button id="submit" class="btn btn-primary w-100 fw-bold" data-secret="{{ client_secret }}">
        Pay
      </button>
      <div id="card-error" role="alert"></div>
      <div id="payment-message" class="hidden"></div>
    </div>


  </form>

  <style>
    .payment-buttons {
      margin-bottom: 15px;
    }

    .payment-button {
      background-color: transparent;
      margin-right: 10px;
      font-size: 16px;
      padding: 10px;
    }

    .payment-button:last-child {
      margin-right: 0;
    }

    .payment-icon {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  </style>

  <script>
    {% comment %} Make csrf token availble in JS files {% endcomment %}
    var CSRF_TOKEN = '{{ csrf_token }}';
  </script>


</body>

</html>